Django==1.10.5
psycopg2==2.6.2
django-allauth==0.30.0
django-compressor==2.1
sorl-thumbnail==12.4a1
django-money==0.10.1
django-ckeditor==5.2.1
django-contrib-comments==1.7.3
django-comments-xtd==1.6.3
six==1.10.0
django-markup==1.1
uWSGI==2.0.14
Pillow==4.0.0
django-debug-toolbar==1.6
django-haystack==2.6.0
Whoosh==2.7.4