upstream unrealestate_app_server {
    server unix:///home/unrealestate/unrealestate-web/unrealestate.sock;
}

server {
    # Force HTTPS
    server_name www.unrealestate.sg unrealestate.sg;
    return 301 https://$host$request_uri;
}

server {
    listen 443;
    ssl on;

    ssl_certificate /home/unrealestate/unrealestate-web/unrealestate.sg.crt;
    ssl_certificate_key /home/unrealestate/unrealestate-web/unrealestate.sg.key;

    server_name www.unrealestate.sg;
    return 301 https://unrealestate.ee$request_uri;
}

server {
    listen 443 default_server;
    ssl on;

    ssl_certificate /home/unrealestate/unrealestate-web/unrealestate.sg.crt;
    ssl_certificate_key /home/unrealestate/unrealestate-web/unrealestate.sg.key;

    server_name unrealestate.sg;

    keepalive_timeout 10;

    client_max_body_size 20M;

    if ($host !~* ^(unrealestate.sg)$ ) {
        return 444;
    }

    location /media/uploads/videos {
        alias /home/unrealestate/unrealestate-web/media/uploads/videos;
        mp4;
        mp4_buffer_size 4M;
        mp4_max_buffer_size 10M;
        limit_rate 260k;
        limit_rate_after 3m;
    }

    location ~ ^/favicon.(\w*)$ {
        alias /home/unrealestate/unrealestate-web/static-cache/favicon.$1;
    }

    location /static {
        alias /home/unrealestate/unrealestate-web/static-cache;
        expires 7d;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unrealestate_app_server;
    }
}