/* General */
.logo:before {
    display: none;
}

/* Project detail page */
#unreal-estate-project-detail-video {
    width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 3em;
}

#unreal-estate-project-detail-matterport {
    width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 3em;
}

#unreal-estate-project-detail-matterport iframe {
    width: 100%;
    border-radius: 0.5em;
    border: solid 1.5em #fff;
}

.unreal-estate-project-detail-circles-container {
    background-color: #ffffff;
    color: #6e6e6e;
    padding: 0;
    text-align: center;
}

.unreal-estate-project-detail-circles-container ul.faces li {
    border-color: #ffffff;
}

.unreal-estate-project-detail-section {
    background-color: #fafafa;
    color: #6e6e6e;
}

.unreal-estate-project-circle {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: block;
}

#unreal-estate-project-detail-video > video {
    width: 100%;
    border-radius: 0.5em;
    border: solid 1.5em #fff;
}

/* Homepage */
#how-it-works-wrapper {
    background: -webkit-radial-gradient(circle, #3a7d9a, #2b2463);
    color: #ffffff;
    padding: 0;
}

#how-it-works-illustrative-house-container {
    display: block;
    position: relative;
    width: 75%;
}

#how-it-works-illustrative-house-container > img {
    display: block;
    position: relative;
    margin: auto;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    width: 100%;
}

.unreal-estate-front-page-view-details-row {
    float: right;
}

.unreal-estate-lagoon-water-background {
    background-color: #3a7d9a;
}

.unreal-estate-sand-beige-background {
    background-color: #c8b89d;
}

.unreal-estate-midnight-blue-background {
    background-color: #2b2463;
}

.unreal-estate-white-background {
    background-color: white;
}

/* Slider */
.slider {
    position: relative;
}

.slider .viewer {
    position: relative;
    border-radius: 0.5em;
    border: solid 1.5em #fff;
    height: 20em;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}

.slider .slide img {
    border-radius: 0.375em;
    display: block;
    width: 100%;
}

.slider .nav-next,
.slider .nav-previous {
    text-decoration: none;
    background: #fff;
    border-radius: 100%;
    color: #ddd;
    cursor: pointer;
    display: block;
    font-size: 3em;
    height: 1.25em;
    line-height: 1.15em;
    margin-top: -0.5em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1.25em;
}

.slider .nav-next:before,
.slider .nav-previous:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.slider .nav-next:before,
.slider .nav-previous:before {
    position: relative;
}

.slider .nav-next {
    right: 0;
}

.slider .nav-next:before {
    content: '\f105';
    right: -0.05em;
}

.slider .nav-previous {
    left: 0;
}

.slider .nav-previous:before {
    content: '\f104';
    left: -0.05em;
}