/* General */
.logo:before {
    display: none;
}

/* Project detail page */
.unrealestate-project-circle {
    width: 30px;
    border-radius: 100%;
}

/* Slider */
.slider {
    position: relative;
}

.slider .viewer {
    position: relative;
    border-radius: 0.5em;
    border: solid 1.5em #fff;
    height: 20em;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}

.slider .slide img {
    border-radius: 0.375em;
    display: block;
    width: 100%;
}

.slider .nav-next,
.slider .nav-previous {
    text-decoration: none;
    background: #fff;
    border-radius: 100%;
    color: #ddd;
    cursor: pointer;
    display: block;
    font-size: 3em;
    height: 1.25em;
    line-height: 1.15em;
    margin-top: -0.5em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1.25em;
}

.slider .nav-next:before,
.slider .nav-previous:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.slider .nav-next:before,
.slider .nav-previous:before {
    position: relative;
}

.slider .nav-next {
    right: 0;
}

.slider .nav-next:before {
    content: '\f105';
    right: -0.05em;
}

.slider .nav-previous {
    left: 0;
}

.slider .nav-previous:before {
    content: '\f104';
    left: -0.05em;
}