{% extends "base.html" %}

{% load i18n thumbnail static compress comments %}

{% block extra_js %}
    <script src="{% static "js/jquery.slidertron-1.4.1-dev.min.js" %}"></script>
    {% compress js %}
        <script>
            {% if project %}
                var retrieveProjectUrl = "{% url 'drf-retrieve-project' project.pk %}";
            {% endif %}
        </script>
        <script src="{% static "js/unreal-estate-project.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <header>
        <h1>{{ object.title }}</h1>
    </header>
    <section class="wrapper unreal-estate-project-detail-section">
        <div class="container">
            <header class="major"><h2>{% trans "General information" %}</h2>
                <p align="justify">
                    {% blocktrans %}
                        {{ object.description }}
                    {% endblocktrans %}
                </p>
            </header>
            {% if object.video %}
                <div id="unreal-estate-project-detail-video" class="video">
                    <video title="{{ object.title }}" src="{{ object.video.url }}" controls></video>
                </div>
            {% endif %}
            {% if object.matterport_url %}
                <div id="unreal-estate-project-detail-matterport" class="video">
                    <iframe width="853" height="480" src="{{ object.matterport_url }}" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            {% endif %}
            <div class="slider">
                <span class="nav-previous"></span>
                <div class="viewer">
                    <div class="reel">
                        {% for image in object.images.all %}
                            <div class="slide">
                                {% thumbnail image "x345" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                         alt="{{ object.title }}" title="{{ object.title }}">
                                {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <span class="nav-next"></span>
            </div>
        </div>
    </section>
    <section class="wrapper unreal-estate-project-detail-circles-container">
        <ul class="faces">
            <li>
                <span class="image">
                    <span class="unreal-estate-project-circle unreal-estate-lagoon-water-background"
                          title="{% trans "Goal" %}"></span>
                </span>
                <h3>{% trans "Goal" %}</h3>
                <p>{{ object.goal }}</p>
            </li>
            <li>
                <span class="image">
                    <span class="unreal-estate-project-circle unreal-estate-sand-beige-background"
                          title="{% trans "Deadline" %}"></span>
                </span>
                <h3>{% trans "Deadline" %}</h3>
                <p>{{ object.deadline }}</p>
            </li>
            <li>
                <span class="image">
                    <span class="unreal-estate-project-circle unreal-estate-midnight-blue-background"
                          title="{% trans "Asset class" %}"></span>
                </span>
                <h3>{% trans "Asset class" %}</h3>
                <p>{{ object.asset_class }}</p>
        </ul>
    </section>
    <section class="wrapper unreal-estate-project-detail-circles-container">
        <ul class="faces">
            <li>
                <span class="image">
                    <span class="unreal-estate-project-circle unreal-estate-midnight-blue-background"
                          title="{% trans "Investment type" %}"></span>
                </span>
                <h3>{% trans "Investment type" %}</h3>
                <p>{{ object.investment_type }}</p>
            </li>
            <li>
                <span class="image">
                    <span class="unreal-estate-project-circle unreal-estate-sand-beige-background"
                          title="{% trans "Investment period" %}"></span>
                </span>
                <h3>{% trans "Investment period" %}</h3>
                <p>{% blocktrans with months=object.investment_period_months %}{{ months }}months{% endblocktrans %}</p>
            </li>
            <li>
                <span class="image">
                    <span class="unreal-estate-project-circle unreal-estate-lagoon-water-background"
                          title="{% trans "Expected rate of return" %}"></span>
                </span>
                <h3>{% trans "Expected rate of return" %}</h3>
                <p>{{ object.expected_rate_of_return }}%</p>
            </li>
        </ul>
    </section>
    <section id="three" class="wrapper unreal-estate-project-detail-section">
        <div class="container">
            <header class="major"><h2>{% trans "Information tabs" %}</h2>
                <p>
                    {% blocktrans %}
                        Please refer to the below tabs to get more information about the project from every aspect.
                    {% endblocktrans %}
                </p>
            </header>
            <div class="row">
                <div class="4u 6u(medium) 12u$(small)">
                    <article class="box post">
                        <a href="#" class="image fit">
                            <img src="{% static "images/unreal-estate-blue.jpg" %}"
                                 title="{% trans "General information" %}" alt="{% trans "General information" %}"/>
                        </a>
                        <h3>{% trans "General" %}</h3>
                        <p>{{ object.analysis_general_intro }}...</p>
                        <ul class="actions">
                            <li>
                                <a href="javascript:;"
                                   class="button unreal-estate-project-detail-learn-more-button">{% trans "Learn more" %}</a>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="4u 6u$(medium) 12u$(small)">
                    <article class="box post">
                        <a href="#" class="image fit">
                            <img src="{% static "images/unreal-estate-beige.jpg" %}"
                                 title="{% trans "Location" %}" alt="{% trans "Location" %}"/>
                        </a>
                        <h3>{% trans "Location" %}</h3>
                        <p>{{ object.analysis_location_intro }}...</p>
                        <ul class="actions">
                            <li>
                                <a href="javascript:;"
                                   class="button unreal-estate-project-detail-learn-more-button">{% trans "Learn More" %}</a>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="4u$ 6u(medium) 12u$(small)">
                    <article class="box post">
                        <a href="#" class="image fit">
                            <img src="{% static "images/unreal-estate-dark-blue.jpg" %}"
                                 title="{% trans "Market" %}" alt="{% trans "Market" %}"/>
                        </a>
                        <h3>{% trans "Market" %}</h3>
                        <p>{{ object.analysis_market_intro }}...</p>
                        <ul class="actions">
                            <li>
                                <a href="javascript:;"
                                   class="button unreal-estate-project-detail-learn-more-button">{% trans "Learn More" %}</a>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="4u 6u$(medium) 12u$(small)">
                    <article class="box post">
                        <a href="#" class="image fit">
                            <img src="{% static "images/unreal-estate-beige.jpg" %}"
                                 title="{% trans "Project" %}" alt="{% trans "Project" %}"/>
                        </a>
                        <h3>{% trans "Project Analysis" %}</h3>
                        <p>{{ object.analysis_project_intro }}...</p>
                        <ul class="actions">
                            <li><a href="javascript:;"
                                   class="button unreal-estate-project-detail-learn-more-button">{% trans "Learn More" %}</a>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="4u 6u(medium) 12u$(small)">
                    <article class="box post">
                        <a href="#" class="image fit">
                            <img src="{% static "images/unreal-estate-dark-blue.jpg" %}"
                                 title="{% trans "Financials" %}" alt="{% trans "Financials" %}"/>
                        </a>
                        <h3>{% trans "Financials" %}</h3>
                        <p>{{ object.analysis_financial_intro }}...</p>
                        <ul class="actions">
                            <li>
                                <a href="javascript:;"
                                   class="button unreal-estate-project-detail-learn-more-button">{% trans "Learn More" %}</a>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="4u$ 6u$(medium) 12u$(small)">
                    <article class="box post">
                        <a href="#" class="image fit">
                            <img src="{% static "images/unreal-estate-blue.jpg" %}"
                                 title="{% trans "Related Documents" %}" alt="{% trans "Related Documents" %}"/>
                        </a>
                        <h3>{% trans "Related Documents" %}</h3>
                        <p>{{ object.analysis_documents_intro }}...</p>
                        <ul class="actions">
                            <li><a href="javascript:;"
                                   class="button unreal-estate-project-detail-learn-more-button">{% trans "Learn More" %}</a>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section id="cta" class="wrapper">
        <ul class="actions">
            <li>
                <form id="unreal-estate-project-detail-invest-form" method="post" action=".">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            {{ form.amount.errors }}
                            {{ form.amount }}
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <ul class="actions align-right">
                                <li>
                                    <input type="submit" title="{% trans "Invest" %}" value="{% trans "Invest" %}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </section>
    <section class="wrapper unreal-estate-project-detail-section">
        <div class="container">
            <header class="major">
                <h2>{% trans "Ask a question" %}</h2>
            </header>
            <div class="row">
                <div id="comments">
                    {% get_comment_count for object as comment_count %}
                    {% if comment_count %}
                        <H4 class="center">{{ comment_count }} comment{{ comment_count|pluralize }}</H4>
                    {% endif %}
                    <div id="comment-list">
                        {% render_comment_list for object %}
                    </div>

                    <H4 class="center">your comment</H4>
                    <div id="comment-form">
                        {% render_comment_form for object %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}