{% extends "base.html" %}

{% load i18n thumbnail static compress %}

{% block extra_js %}
    <script src="{% static "js/jquery.slidertron-1.4.1-dev.min.js" %}"></script>
    {% compress js %}
        <script src="{% static "js/unrealestate-project.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <header>
        <h1>{{ object.title }}</h1>
    </header>
    <section id="one" class="wrapper style1">
        <div class="container">
            <header class="major"><h2>{% trans "General information" %}</h2>
                <p align="justify">
                    {% blocktrans %}
                        This lovely house is located on the outskirts of Stockholm. Combination of beautiful
                        scenery and great location makes this house worthwhile to spend quality time in any time of the
                        year. To get better grasp about this property, please enjoy the possibility of different media
                        features as well as get acquainted with detailed information.
                    {% endblocktrans %}
                </p>
            </header>
            {% if object.video %}
                <div class="video">
                    <video title="{{ object.title }}" src="{{ object.video.url }}" controls></video>
                </div>
            {% endif %}
            <div class="slider">
                <span class="nav-previous"></span>
                <div class="viewer">
                    <div class="reel">
                        {% for image in object.images.all %}
                            <div class="slide">
                                {% thumbnail image "x345" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                         alt="{{ object.title }}" title="{{ object.title }}">
                                {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <span class="nav-next"></span>
            </div>
        </div>
    </section>
    <section id="five" class="wrapper style2">
        <ul class="faces">
            <li>
                <span class="image">
                    <img class="unrealestate-project-circle" src="{% static "images/pic05.jpg" %}"
                         alt="{% trans "Goal" %}"/>
                </span>
                <h3>{% trans "Goal" %}</h3>
                <p>{{ object.goal }}</p>
            </li>
            <li>
                <span class="image">
                    <img class="unrealestate-project-circle" src="{% static "images/pic07.jpg" %}"
                         alt="{% trans "Deadline" %}"/>
                </span>
                <h3>{% trans "Deadline" %}</h3>
                <p>{{ object.deadline }}</p>
            </li>
            <li>
                <span class="image">
                    <img class="unrealestate-project-circle" src="{% static "images/pic07.jpg" %}"
                         alt="{% trans "Asset class" %}"/>
                </span>
                <h3>{% trans "Asset class" %}</h3>
                <p>{{ object.asset_class }}</p>
        </ul>
    </section>
    <section id="five" class="wrapper style2">
        <ul class="faces">
            <li>
                <span class="image">
                    <img class="unrealestate-project-circle" src="{% static "images/pic05.jpg" %}"
                         alt="{% trans "Investment type" %}"/>
                </span>
                <h3>{% trans "Investment type" %}</h3>
                <p>{{ object.investment_type }}</p>
            </li>
            <li>
                <span class="image"><img class="unrealestate-project-circle" src="{% static "images/pic06.jpg" %}" alt="{% trans "Investment period" %}"/></span>
                <h3>{% trans "Investment period" %}</h3>
                <p>{% blocktrans with months=object.investment_period_months  %}{{ months }} months{% endblocktrans %}</p>
            </li>
            <li>
                <span class="image">
                    <img class="unrealestate-project-circle" src="{% static "images/pic07.jpg" %}" alt="{% trans "Expected rate of return" %}"/>
                </span>
                <h3>{% trans "Expected rate of return" %}</h3>
                <p>{{ object.expected_rate_of_return }}%</p>
        </ul>
    </section>
    <section id="three" class="wrapper style1">
        <div class="container">
            <header class="major"><h2>{% trans "Information tabs" %}</h2>
                <p>
                    {% blocktrans %}
                        Please refer to the below tabs to get more information about the project from every aspect.
                    {% endblocktrans %}
                </p>
            </header>
            <div class="row">
                <div class="4u 6u(medium) 12u$(small)">
                    <article class="box post"><a href="#" class="image fit"><img src="{% static "images/sinine.jpg" %}" alt="{% trans "General" %}"/></a>
                        <h3>{% trans "General" %}</h3>
                        <p>Name - Nordic House, Address - Kastellet, 18599, Sweden, Size - 500m2</p>

                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </article>
                </div>
                <div class="4u 6u$(medium) 12u$(small)">
                    <article class="box post"><a href="#" class="image fit"><img src="images/bees.jpg" alt=""/></a>
                        <h3>Location</h3>
                        <p>About 20km from Stockholm city center, this beautiful vacation home has ...</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </article>
                </div>
                <div class="4u$ 6u(medium) 12u$(small)">
                    <article class="box post"><a href="#" class="image fit"><img src="images/tumesinine.jpg"
                                                                                 alt=""/></a>
                        <h3>Market</h3>
                        <p>The demand for new developments continues to be strong. This, however, can...</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </article>
                </div>
                <div class="4u 6u$(medium) 12u$(small)">
                    <article class="box post"><a href="#" class="image fit"><img src="images/bees.jpg" alt=""/></a>
                        <h3>Project Analysis</h3>
                        <p>In this section you can find the SWOT analysis of this project. Both internal and external
                            factors have been taken into account to thoroughly assess different attributes of...</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </article>
                </div>
                <div class="4u 6u(medium) 12u$(small)">
                    <article class="box post"><a href="#" class="image fit"><img src="images/tumesinine.jpg"
                                                                                 alt=""/></a>
                        <h3>Financials</h3>
                        <p>The project investment returns are estimated and are subject to influences of the overall
                            economic situation and supply/demand relationship. Detailed ...</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </article>
                </div>
                <div class="4u$ 6u$(medium) 12u$(small)">
                    <article class="box post"><a href="#" class="image fit"><img src="images/sinine.jpg" alt=""/></a>
                        <h3>Related Documents</h3>
                        <p>Below you can find supporting documents of the project providing additional information not
                            stated elsewhere. In order to gain more trust in investors, other legal and ...</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </section><!-- CTA -->
    <section id="cta" class="wrapper style3">
        <ul class="actions">
            <li><a href="signup.html" class="button big">Invest</a>
        </ul>
    </section>

{% endblock %}