{% load i18n static compress %}

<!DOCTYPE HTML>
<!--
	Elemental by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>{% trans "Unreal Estate" %}</title>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]><script src="{% static "js/ie/html5shiv-3.7.3.js" %}"></script><![endif]-->
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/pixelarity.css" %}"/>
        <link rel="stylesheet" href="{% static "css/custom.css" %}"/>
    {% endcompress %}
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static "css/ie9.css" %}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie8.css" %}" /><![endif]-->
</head>
<body class="{% if request.resolver_match.url_name == "project_detail_slug" or request.resolver_match.url_name == "project_detail_id" %}unreal-estate-white-background{% endif %}">
<div id="header" class="alt">
    <a class="logo" href="{% url "home" %}" title="{% trans "Back to home page" %}">
        <img alt="{% trans "Unreal Estate logo" %}" src="{% static "images/unreal-estate-logo-small.png" %}">
    </a>
    <nav id="nav">
        <ul>
            <li class="{% if request.resolver_match.url_name == "home" %}active{% endif %}">
                <a title="{% trans "Home page" %}" href="{% url "home" %}">{% trans "Home" %}</a>
            </li>
            <li class="{% if request.resolver_match.url_name == "offerings" %}active{% endif %}">
                <a title="{% trans "Offerings" %}" href="{% url "offerings" %}">{% trans "Offerings" %}</a>
            </li>
            <li class="{% if request.resolver_match.url_name == "sell_your_property" %}active{% endif %}">
                <a title="{% trans "Sell your property" %}"
                   href="{% url "sell_your_property" %}">{% trans "Sell property" %}</a>
            </li>
            <li>
                <a title="{% trans "How it works" %}"
                   href="{% url "home" %}#how-it-works-wrapper">{% trans "How it works" %}</a>
            </li>
            <li class="{% if request.resolver_match.url_name == "faq" %}active{% endif %}">
                <a title="{% trans "Frequently asked questions" %}" href="{% url "faq" %}">{% trans "FAQ" %}</a>
            </li>
            <li class="{% if request.resolver_match.url_name == "about_us" %}active{% endif %}">
                <a title="{% trans "About us" %}" href="{% url "about_us" %}">{% trans "About Us" %}</a>
            </li>
            {% if user.is_authenticated %}
                <li class="{% if request.resolver_match.url_name == "account_profile" %}active{% endif %}">
                    <a title="{% trans "My account" %}" href="{% url "account_profile" %}">{% trans "My account" %}</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "account_logout" %}active{% endif %}">
                    <a title="{% trans "Log out" %}" href="{% url "account_logout" %}">{% trans "Log out" %}</a>
                </li>
            {% else %}
                <li class="{% if request.resolver_match.url_name == "account_signup" %}active{% endif %}">
                    <a title="{% trans "Sign up" %}" href="{% url "account_signup" %}">{% trans "Sign up" %}</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "account_login" %}active{% endif %}">
                    <a title="{% trans "Log in" %}" href="{% url "account_login" %}">{% trans "Log in" %}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<div id="main">
    {% block content %}{% endblock %}
</div>
{% block before_footer %}{% endblock %}
<div id="footer">
    <h2>{% trans "Get in touch" %}</h2>
    <p>{% trans "Unable to find what you're looking for? We'd love to hear from you." %}</p>
    <ul class="major-icons">
        <li>
            <h3 class="icon fa-phone major">
                <span class="label">{% trans "Phone" %}</span>
            </h3>
            <p>+65 98103294</p>
        </li>
        <li>
            <h3 class="icon fa-map major">
                <span class="label">{% trans "Address" %}</span>
            </h3>
            <p>{% blocktrans %}Kiili tn 12-1, 12916<br/>Estonia, Harjumaa, Tallinn{% endblocktrans %}</p>
        </li>
        <li>
            <h3 class="icon fa-envelope major">
                <span class="label">{% trans "Email" %}</span>
            </h3>
            <p><a title="{% trans "Email us" %}" href="mailto:team@unrealestate.sg">team@unrealestate.sg</a></p>
        </li>
    </ul>
    <ul class="joined-icons">
        <li>
            <a href="https://www.facebook.com/UnrealEstateLtd/" title="{% trans "Unreal Estate on Facebook" %}"
               class="icon fa-facebook">
                <span class="label">{% trans "Facebook" %}</span>
            </a>
        </li>
    </ul>
    <p class="copyright">{% blocktrans %}&copy; Unreal Estate. All rights reserved.{% endblocktrans %}</p>
</div>
{% compress js %}
    <script src="{% static "js/jquery-1.12.4.js" %}"></script>
    <script src="{% static "js/jquery.dropotron-1.4.3.js" %}"></script>
    <script src="{% static "js/jquery.scrollex-0.2.1.js" %}"></script>
    <script src="{% static "js/skel-3.0.1.js" %}"></script>
    <script src="{% static "js/util.js" %}"></script>
    <!--[if lte IE 8]><script src="{% static "js/ie/respond-1.4.2.js" %}"></script><![endif]-->
    <script src="{% static "js/pixelarity.js" %}"></script>
{% endcompress %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-91454680-2', 'auto');
    ga('send', 'pageview');
</script>
{% block extra_js %}{% endblock %}
</body>
</html>