{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <header>
        <h1>{% trans "Bank" %}</h1>
    </header>
    <section id="content" class="wrapper">
        <div class="12u$">
            {% trans "Pretending to wait for bank transaction..." %} <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        (function ($) {
            'use strict';
            /*jslint nomen: true*/
            /*jslint browser: true*/
            var transactionsUrl = '{% url "account_transactions" %}';
            $(document).ready(function () {
                setTimeout(function () {
                    window.location = transactionsUrl;
                }, 3000);
            });
        }(jQuery));
    </script>
{% endblock %}