{% extends "base.html" %}

{% load static i18n thumbnail %}

{% block content %}
    <header>
        <div class="image">
            <img alt="{% trans "Unreal Estate logo" %}" title="{% trans "Unreal Estate logo" %}"
                 src="{% static "images/unreal.png" %}">
        </div>
    </header>
    <section id="one" class="wrapper spotlight">
        <div class="content">
            <div class="inner">
                <h2>{% trans "Online marketplace for real estate" %}</h2>
                <p align="justify">
                    {% blocktrans %}
                        Drawing inspiration from crowdinvesting, we offer a delightful and intuitive avenue
                        to grow one's wealth by backing attractive aftermarket real estate sales harnessing the power of
                        group buying.
                    {% endblocktrans %}
                </p>
                <ul class="actions">
                    <li>
                        <a href="{% url "about_us" %}" title="{% trans "About us" %}"
                           class="button">{% trans "Learn More" %}</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="grid-icons">
            <img alt="{% trans "Sample dashboard" %}" title="{% trans "Sample dashboard" %}"
                 src="{% static 'images/dashboard.png' %}">
        </ul>
    </section>
    <section class="wrapper style1 alt">
        <header>
            <h2 align="center">{% trans "Get started with Your first investment" %}</h2>
        </header>
    </section>
    {% for project in sample_projects %}
        <section class="wrapper spotlight {% cycle 'alt' '' %}">
            <div class="content">
                <div class="inner">
                    <h2>{{ project.title }}</h2>
                    <p align="justify">{{ project.description }}</p>
                    <p>
                        <div class="row">
                            <div class="4u">
                                {% trans "Goal" %} {{ project.goal }}
                            </div>
                            <div class="4u">
                                {{ project.percentage_funded|floatformat:0 }} {% trans "% funded" %}
                            </div>
                            <div class="4u$">
                                {{ project.currently_invested_total_sum }} {% trans "invested" %}
                            </div>
                        </div>
                    </p>
                    <div class="row unreal-estate-front-page-view-details-row">
                        <ul class="actions">
                            <li>
                                <a href="{% url 'project_detail_slug' project.id project.slug %}"
                                   title="{{ project.title }}" class="button">{% trans "View details" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image">
                {% thumbnail project.cover_image "500x500" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ project.title }}"
                         title="{{ project.title }}">
                {% endthumbnail %}
            </div>
        </section>
    {% endfor %}
    {% comment %}<!-- Three -->
    <section id="three" class="wrapper style2 spotlight">
        <div class="content">
            <div class="inner">
                <h2>Modern apartment</h2>
                <p align="justify">This residential area is located in the central part of Singapore. The development
                    was started in 2015 and most of the designed buildings have been completed and sold. However...</p>
                <ul class="actions">
                    <li><a href="signup.html" class="button">Coming soon</a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="images/taust.jpg" data-position="center right" alt=""/>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style3 spotlight alt">
        <div class="content">
            <div class="inner">
                <h2>Holiday villa</h2>
                <p align="justify">This two-storey villa with 6 ensuite bedrooms, private tropical garden, swimming pool
                    and many verandas is located in Bali, recently voted as the most fascinating place in Asia... </p>
                <ul class="actions">
                    <li><a href="signup.html" class="button">Coming soon</a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="images/maja6.jpg" data-position="top right" alt=""/>
        </div>
    </section>{% endcomment %}
    <!-- Five -->
    <section id="five" class="wrapper special">
        <h2>{% trans "What we do" %}</h2>
        <p>
            {% blocktrans %}
                Changing the experience of
                how we make real estate investment decisions.
            {% endblocktrans %}
        </p>
        <ul class="faces">
            <li>
                <span class="icon major fa-users style2"></span>
                <h3>{% trans "Crowdinvest" %}</h3>
                <p>
                    {% blocktrans %}
                        With the power of group buying, we enable investors to enter the real estate market with small
                        amounts and allocate funds to achieve the best direct investment risk-reward relationship.
                    {% endblocktrans %}
                </p>
            </li>
            <li>
                <span class="icon major fa-bar-chart style3"></span>
                <h3>{% trans "Full coverage" %}</h3>
                <p>
                    {% blocktrans %}
                        We provide transparent and detailed information for each project with additional 3D/VR
                        experience to
                        make sure our investors are fully engaged.
                    {% endblocktrans %}
                </p>
            </li>
            <li>
                <span class="icon major fa-check-square-o style4"></span>
                <h3>{% trans "Simple" %}</h3>
                <p>
                    {% blocktrans %}
                        With userfriendly platform and unbureaucratic approach we offer hassle free real estate
                        investments
                        to enable you to achieve your personal goals and test differnet strategies.
                    {% endblocktrans %}
                </p>
            </li>
        </ul>
    </section>
    <section id="how-it-works-wrapper" class="wrapper">
        <span class="image main"><img src="{% static "images/unreal-estate-how-it-works.png" %}"
                                      alt="{% trans "How it works" %}" title="{% trans "How it works" %}"/></span>
        <div id="how-it-works-illustrative-house-container"><img
                src="{% static "images/unreal-estate-how-it-works-illustration.png" %}"
                alt="{% trans "Illustrative house" %}" title="{% trans "How it works" %}"/></div>
    </section>
{% endblock %}

{% block before_footer %}
    <section id="three" class="wrapper style5 special">
        <div class="inner narrow">
            <p>
                {% blocktrans %}
                    * Capital at risk. The value of your investment can go down as well as up. Forecasts are not a
                    reliable
                    indicator of future performance. Gross rent and dividends may be lower than estimated.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}