{% extends 'profile.html' %}

{% load i18n %}

{% block profile_sub_content %}
    <h3>{% trans "Transfer money to your Unreal Estate account" %}</h3>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                {{ form.amount.errors }}
                {{ form.amount.label_tag }}
                {{ form.amount }}
            </div>
            <div class="12u$">
                <ul class="actions align-right">
                    <li>
                        <input type="submit" title="{% trans "Transfer" %}" value="{% trans "Transfer" %}"/>
                    </li>
                </ul>
            </div>
        </div>
    </form>
{% endblock %}