{% extends 'profile.html' %}

{% load i18n socialaccount %}

{% block profile_sub_content %}
    {% if not user.verified %}
        <b>
            {% url 'account_verify' as verification_form %}
            {% blocktrans %}
                To complete the verification process, please visit
                <a title="Verify your account" href="{{ verification_form }}">here</a> and fill out the form.
            {% endblocktrans %}
        </b>
    {% endif %}
    <h3>{% trans "Edit your profile" %}</h3>
    <h5>
        {% url 'account_change_password' as change_form %}
        {% blocktrans %}
            Change your password <a title="Change password" href="{{ change_form }}">here</a>.
        {% endblocktrans %}
    </h5>
    <h5>
        <a href="{% provider_login_url "google" process="connect" %}">{% trans "Connect a Google account" %}</a>
    </h5>
    <h5>
        <a href="{% provider_login_url "facebook" process="connect" %}">{% trans "Connect a Facebook account" %}</a>
    </h5>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row uniform">
            <div class="6u 12u$(xsmall)">
                {{ form.first_name.errors }}
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="6u$ 12u$(xsmall)">
                {{ form.last_name.errors }}
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            <div class="12u$">
                <div class="select-wrapper">
                    {{ form.interest_in_site.errors }}
                    {{ form.interest_in_site.label_tag }}
                    {{ form.interest_in_site }}
                </div>
            </div>
            <div class="12u$">
                <ul class="actions align-right">
                    <li>
                        <input type="submit" title="{% trans "Update my profile" %}" value="{% trans "Update" %}"/>
                    </li>
                </ul>
            </div>
        </div>
    </form>
{% endblock %}