{% extends "base.html" %}

{% load i18n static %}

{% block content %}
    <div id="main">
        <header>
            <h1>{% trans "Sign up" %}</h1>
        </header>
        <section id="content" class="wrapper">
            <span class="image main">
                <img src="{% static "images/unreal-estate-sign-up.jpg" %}"
                     title="{% trans "Signing up for Unreal Estate" %}" alt="{% trans "Sign up page illustration" %}"/>
            </span>
        </section>
        <section>
            <article id="signup" class="panel secondary">
                <div class="content">
                    <div class="inner">
                        <header>
                            <h2>{% trans "Get started" %}</h2>
                        </header>
                        <form name="signup" method="post" action="signup.php">
                            <div class="field half first">
                                <label for="name">First name</label>
                                <input type="text" name="name" id="fname"/>
                            </div>
                            <div class="field half">
                                <label for="email">Last name</label>
                                <input type="text" name="name" id="lname"/>
                            </div>
                            <div class="field half first">
                                <label for="name">Email</label>
                                <input type="email" name="email" id="email"/>
                            </div>
                            <div class="field half">
                                <label for="investor">Your interest</label>
                                <form>
                                    <select type="checkbox" id="investor" name="investor">
                                        <option value="IN">Investor</option>
                                        <option value="PO">Property owner</option>
                                    </select>
                                </form>
                            </div>
                            <ul class="actions">
                                <li><a href="signupty.html" class="button submit">SIGN UP</a></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </article>
        </section>
    </div>
{% endblock %}